# Swift Package Manager
/.build
/.*-build
/Packages
default.profraw

# IDEs
/.vscode
/.swiftpm
/.vscode/launch.json
/.idea
/.sourcekit-lsp

# macOS
.DS_Store

# Generated tests
Tests/CompilerTests/CompilerTests+GeneratedTests.swift

# Observations during testing
Tests/CompilerTests/**/*.observed
Tests/CompilerTests/**/*.executable
Tests/CompilerTests/**/*.exe
StandardLibrary/**/*.observed

# Local development
/Playground
